body {
    margin: 0;
    padding: 0;
}

/***********************************************************************************************************************
Global Styles
***********************************************************************************************************************/
.portfolio, .contact {
    margin-bottom: -1.1em;
}

.portfolio {
    margin-bottom: -1.2em;
}

h3, p, a, li {
    font-family: 'Lato', sans-serif;
    color: #e6e6e6;
}

h3 {
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: #e6e6e6;
    transition: color .3s ease-in-out;
}

a:hover {
    color: #880001;
}

p {
    line-height: 1.9;
}

/***********************************************************************************************************************
Top Container Styles
***********************************************************************************************************************/
.top-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    min-height: 2.7em;
    position: fixed;
    z-index: 1;
    background-color: #131519;
}

/*****Navigation Styles******
****************************/
.nav-button {
    position: fixed;
    align-self: flex-end;
    margin-bottom: 2em;
}

.nav-button button {
    background-color: #710001;

    color: #e6e6e6;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-right: 1em;
    margin-top: .2em;
}

.nav-button button:hover {
    background-color: #880001;
}

nav {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 3.5em 1em 0 0;
}

nav a {
    margin-bottom: .5em;
}

.current {
    color: #710001;
}

/***********************************************************************************************************************
Header Styles
***********************************************************************************************************************/
header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/workplace-2341642_1920.jpg") center center no-repeat fixed;
    background-size: cover;
}

h1 {
    font-family: 'Alice', serif;
    font-size: 3.5em;
    color: #e6e6e6;
}

header p {
    font-size: 1.3em;
    color: #e6e6e6;
}

/***********************************************************************************************************************
About Styles
***********************************************************************************************************************/
.about {
    background-color: #131519;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}

.about-wrapper {
    width: 90%;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.about-section p {
    text-align: center;
    font-size: 1.1em;
}

.about-image {
    display: none;
}

.learning-list {
    display: none;
}

/***********************************************************************************************************************
Portfolio Styles
***********************************************************************************************************************/
.portfolio {
    width: 100%;
    overflow-x: hidden;
    background-color: #131519;
    display: flex;
    flex-direction: column;
}

.portfolio-slider {
    display: flex;
    flex-direction: row;
    width: 200%;
    position: relative;
    left: 0;
    transition: all .3s ease-in-out;
}

.project-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.project-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 90%;
    margin-bottom: 2em;
}

.project {
    width: 100%;
    height: 200px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
    perspective: 300px;
}

.inspire {
    background: url("../images/project-images/inspire-small.png") center center no-repeat;
    background-size: cover;
}

.lorem {
    background: url("../images/project-images/lorem-small.png") center center no-repeat;
    background-size: cover;
}

.thegallery {
    background: url("../images/project-images/thegallery-small.png") center center no-repeat;
    background-size: cover;
}

.portfolio-project {
    background: url("../images/project-images/portfolio-small.png") center center no-repeat;
    background-size: cover;
}

.sweetbakery {
    background: url("../images/project-images/sweetbakery-small.png") center center no-repeat;
    background-size: cover;
}

.foodjoy {
    background: url("../images/project-images/foodjoy-small.png") center center no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateX(90deg);
    transform-origin: center bottom;
    opacity: 0;
}

.project p {
    display: block;
    padding: 0 20px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 1.3em;
}

.project:hover .overlay {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotateX(0deg);
    opacity: 1;
}

/* Portfolio Section: Work Container */

.full-project-container {
    margin: 0 auto;
    position: relative;
    display: none;
}

.full-project-container img {
    max-width: 100%;
}

h4 {
    color: #ccc;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 1em;
}

.back {
    color: #ccc;
    opacity: .5;
}

.back:hover {
    opacity: 1;
}

/*******************************************
            Project Load Styles
********************************************/
.project-load {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    width: 90%;
    text-align: center;
}

.project-load p:first-of-type {
    align-self: flex-start;
}

.project-link {
    text-decoration: underline;
}

.full-project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: 100%;
}

.small-image-container {
    width: 90%;
}

.image-container {
    width: 90%;
}

/***********************************************************************************************************************
Contact Styles
***********************************************************************************************************************/
.contact {
    background-color: #131519;
}

.social-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5em;
    padding-top: .5em;
}

.social-info .social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5em;
    border: 2px solid #e6e6e6;
    transition: all 0.3s ease-in-out;
}

.social-info .social:last-of-type {
    margin-right: 0;
}

.social-info .social i {
    color: #e6e6e6;
    transition: all 0.3s ease-in-out;
}

.social-info .social:hover i {
    color: #710001;
}

.social-info .social:hover {
    border: 2px solid #710001;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5em;
}

.email a {
    color: #e6e6e6;
    font-size: 1.3em;
    margin-top: .5em;
    padding: .5em;
}

.email a:hover {
    color: #710001;
}

/***********************************************************************************************************************
Footer Styles
***********************************************************************************************************************/
footer {
    background-color: #710001;
    margin-bottom: -1em;

}

footer p {
    text-align: left;
    margin-left: .3em;
}
/***********************************************************************************************************************
Media Queries
***********************************************************************************************************************/

@media (min-width: 416px) {


    /*****Portfolio Media Query**
    ****************************/

    .projects {
        width: 50%;
    }

    .project {
        width: 80%;
    }

    .small-image-container {
        width: 80%;
    }
}

@media (min-width: 500px) {


    /*****Portfolio Media Query**
    ****************************/
    .image-container {
        width: 70%;
    }
}

@media (min-width: 600px) {
    /*****Portfolio Media Query******
    ************************** */

    .project-boxes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .projects {
        width: 50%;
    }

    .project {
        width: 40%;
    }

    .small-image-container {
        width: 60%;
    }
}


@media (min-width: 750px) {
    /*****Portfolio Media Query******
    ************************** */

    .project-boxes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .projects {
        width: 50%;
    }

    .project {
        width: 40%;
    }

    .image-container {
        width: 50%;
    }

    .project-load p {
        width: 60%;
    }

    .small-image-container {
        width: 50%;
    }
}

@media (min-width: 800px) {

    /*****Portfolio Media Query******
    ************************** */

    .project-container {
        width: 100%;
    }

    .project-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project {
        width: 30%;
    }

    .small-image-container {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    /*****Top Container Media Query******
    ************************************/
    .top-container {
        justify-content: center;
        background-color: #131519;
        min-height: 3.5em;
    }

    .nav-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
    }

    nav a {
        margin-bottom: 0;
        margin-left: .5em;
    }

    nav a:last-of-type {
        margin-right: .5em;
    }

    /*****Header Media Query******
    ****************************/
    header {
        min-height: 70vh;
    }

    /*****About Media Query******
    ****************************/
    .about-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .about-section {
        width: 50%;
        min-height: 100vh;
    }

    .about-me p {
        width: 90%;
        text-align: center;
    }

    .about-image {
        display: flex;
    }

    .about-image-container {
        width: 100%;
        height: 100%;
        background: url("../images/apple-791323_640.jpg") center center no-repeat fixed;
        background-size: cover;
    }

    .about-section:first-of-type {
        border-right: 1px solid white;
    }

    /*****Portfolio Media Query******
    ********************************/
    .project-boxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .project {
        width: 30%;
        height: 170px;
        margin: .5em .5em 0 0;
    }

    .small-image-container {
        width: 31%;
    }
}
