body {
	margin: 0;
}

section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

h3 {
	text-decoration: underline;
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

/****************************************************************************************************************************
										Nav Styles
*****************************************************************************************************************************/

.mainNav {
	background-color: rgba(0, 0, 0, 0.6);
	height: 40vh;
	display: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 1.2rem;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0;

}

.mainNav a {
	text-decoration: none;
	color: #ffffff;
	padding: 5px;
}

.nav-button {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	background-color: rgb(0, 0, 0);
}

.menu-toggle {
	padding: 10px;
	margin: 5px;
	background-color: #b20000;
	color: #e6e6e6;
	border: none;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}

.open nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


/****************************************************************************************************************************
										Header Styles
*****************************************************************************************************************************/

.head-section {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/apple-692186_1280.jpg) center center no-repeat fixed;
	background-size: cover;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

header {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

h1 {
	font-family: 'Croissant One', cursive;
	color: white;
	font-size: 3.5em;
}

.intro-y {
	color: #b20000;
}

header h2 {
	font-family: 'Lora', serif;
	font-size: 2em;
	color: white;
	text-decoration: none;
}

/****************************************************************************************************************************
										About Styles
*****************************************************************************************************************************/
.about-section {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.ab-me-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 90%;
}

.ab-img {
	width: 260px;
	height: 300px;
}

.ab-img img {
	max-width: 100%;
	height: auto;
}

.about-me {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.about-me p {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	text-indent: 1.5em;
}

.about-me a {
	color: #bd081c;
}

/****************************************************************************************************************************
										Skills Styles
*****************************************************************************************************************************/

.skill-section {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/apple-692186_1280.jpg) center center no-repeat fixed;
	background-size: cover;
}

.skill-section h3 {
	color: #ffffff;
	text-align: center;
}

.skills {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

.skills h4 {
	color: #ffffff;
	font-size: 1.3em;
}

.cont {
	width: 100%;
}

.cur-cont, .learn-cont, .fut-cont {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.current, .learning, .future {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 1em;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.current p, .learning p, .future p {
	text-align: center;
	font-size: .9em;
}

.current .circle, .learning .circle, .future .circle {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border: 2px solid #b20000;
	border-radius: 50%;
	margin-right: 1em;
	margin-bottom: 1em;
}

.current .inner-circle, .learning .inner-circle, .future .inner-circle {
	width: 80px;
	height: 80px;
	border: 1px solid red;
	border-radius: 50%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.classes p {
	margin-top: 2em;
	text-align: center;
}

/****************************************************************************************************************************
										Portfolio Styles
*****************************************************************************************************************************/
.portfolio-section {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-section h3 {
	color: #1c1c1c;
	text-align: center;
}

.portfolio h4 {
	color: #1c1c1c;
	font-size: 1.5em;
}

.port-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	justify-content: space-between;
}

.portfolio {
	margin-bottom: 1em;
	text-align: center;
	border-bottom: 1px solid #000000;
}

.img-cont {
	height: auto;
}

.portfolio a {
	color: #1c1c1c;
}

/****************************************************************************************************************************
										Contact Styles
*****************************************************************************************************************************/

.contact-section {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/apple-692186_1280.jpg) center center no-repeat fixed;
	background-size: cover;
}

.contact-section h3 {
	color: #ffffff;
}

.contact-email {
	color: red;
	text-decoration: none;
	margin-bottom: 1em;
}


.contact-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.social-sect {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: .3em;
	border: 2px solid #ffffff;
}

.social i {
	color: #ffffff;
}

/****************************************************************************************************************************
										Footer Styles
*****************************************************************************************************************************/

footer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

footer p {
	color: #000000;
}

/****************************************************************************************************************************
										Media Queries
*****************************************************************************************************************************/

@media screen and (min-width: 558px) {

	/*-------------------------------------------------------
                About Styles
    -------------------------------------------------------*/

	.ab-p {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.ab-img {
		width: 300px;
	}

	.about-me p {
		width: 100%;
	}

	/*-------------------------------------------------------
                Portfolio Styles
-------------------------------------------------------*/


}

@media screen and (min-width: 840px) {

}

@media screen and (min-width: 1024px) {


	.menu-toggle {
		display: none;
	}

	.mainNav {
		height: 2.5em;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		font-size: 1.2rem;
		background-color: #000000;
	}

	.mainNav a {
		text-decoration: none;
		color: #ffffff;
		padding: 1em;
	}

	a:hover {
		color: #bd081c;
	}

	h1 {
		font-size: 6em;
	}

	h3 {
		font-size: 2em;
	}

	header {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}


	/*-------------------------------------------------------
                About Styles
    -------------------------------------------------------*/



	.about-section p {
		width: 60%;
	}

	.about-me:first-of-type {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.about-me:first-of-type p {
		width: 100%;
	}

	.content {
		width: 50%;
		margin: 1em;
	}

	.ab-img {
		width: 69.4%;
		margin-left: 3em;
	}

	.about-me:last-of-type {
	}

	.about-me:last-of-type p {
		align-self: flex-start;
		margin-left: 10em;
	}

	/*-------------------------------------------------------
               Skills Media Query Styles
    -------------------------------------------------------*/

	.skills {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.current, .learning, .future {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.img-cont {
		width: 500px;
	}



	/*-------------------------------------------------------
               Portfolio Media Query Styles
    -------------------------------------------------------*/

	.portfolio {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}

	.port-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	/*****************************************
            Social Media Query Styles
    *****************************************/
	.fa-twitter:hover {
		color: #0099e5;
	}

	#twitter:hover {
		border: 2px solid #0099e5;
	}

	.fa-facebook:hover {
		color: #3b5998;
	}

	#facebook:hover {
		border: 2px solid #3b5998;
	}

	.social {
		border: 2px solid #ffffff;
	}

	.social i {
		color: #ffffff;
	}

	footer {
		color: #ffffff;
	}
}

@media screen and (min-width: 1200px) {

	/*-------------------------------------------------------
                   Portfolio Media Query Styles
        -------------------------------------------------------*/
	.port-container {
		width: 70%;
	}
}
