body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/apple-692186_1280.jpg) center center no-repeat fixed;
    background-size: cover; 
    margin: 0;          
    }

section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

/****************************************************************************************************************************
                                        Header Styles
*****************************************************************************************************************************/

.head-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

header {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

 h1 {
    font-family: 'Croissant One', cursive;
	color: white;
	font-size: 3rem;
}

.intro-y {
	color: #b20000;
}

h3 {
	font-family: 'Lora', serif;
	font-size: 2em;
	color: white;
}

hr {
    width: 70%;
    background-color: #ffffff;
}

/****************************************************************************************************************************
                                        Nav Styles
*****************************************************************************************************************************/

.mainNav {
	background-color: rgba(128, 128, 128, 0.3);
	height: 40vh;
	display: none;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 1.2rem;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
    margin-bottom: 0;

}

.mainNav a {
	text-decoration: none;
	color: #ffffff;
	padding: 5px;
}

.nav-button {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	background-color: rgb(0, 0, 0);
}

.menu-toggle {
	padding: 10px;
	margin: 5px;
	background-color:#b20000;
	color: white;
	border: none;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}

.open nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/****************************************************************************************************************************
                                        About Styles
*****************************************************************************************************************************/
.about-section {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
}

.about-section p {
    width: 90%;
    font-family: 'Lemonada', cursive;
	text-indent: 2.5em;
}

.about-section a {
    color: #bd081c
}

.about-section a:hover {
    color: #b20000;
}

/****************************************************************************************************************************
                                        Offer Styles
*****************************************************************************************************************************/
/*
.offerings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 200px;
    border: 2px solid #000000;
    margin-bottom: 1em;
}
*/
/****************************************************************************************************************************
                                        Portfolio Styles
*****************************************************************************************************************************/

.portfolio-section {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.portfolio-section h3 {
    color: #ffffff;
}

.portfolio-content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.folio {
	width: 300px;
	height: 300px;
	border: 2px solid #000000;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
}


.folio .info {
	width: 300px;
	height: 300px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 1;
}

.folio img {
	display: block;
	position: relative;
	max-width: 100%;
	height: 300px;
}

.folio h2 {
    font-family: 'Lemonada', cursive;
	color: #ffffff;
	text-align: center;
	position: relative;
	top: 50px;
	font-size: 1.2em;
	padding: 10px;
	opacity: 1;
    background: rgba(0, 0, 0, 0.8);
}

.folio h2, .folio p {
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
}

.folio p {
	font-family: 'Lemonada', cursive;
	font-size: .7em;
	position: relative;
	top: 50px;
	color: #ffffff;
	padding: 1em;
	text-align: center;
	opacity: 1;
}

.folio a.view {
	display: inline-block;
	text-decoration: none;
	position: relative;
	top: 70px;
	padding: 7px 14px;
	background: #000000;
	color: #fff;
	opacity: 1;
}

/****************************************************************************************************************************
                                        Contact Styles
*****************************************************************************************************************************/

.contact-section {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.contact-email {
    color: red;
    text-decoration: none;
    margin-bottom: 1em;
}


.contact-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-sect {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: .3em;
	border: 2px solid #ffffff;
}

.social i {
	color: #ffffff;
}

/****************************************************************************************************************************
                                        Footer Styles
*****************************************************************************************************************************/

footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/****************************************************************************************************************************
                                        Media Queries
*****************************************************************************************************************************/

/****************************************************************************************************************************
                                        Nav Media Query Styles
*****************************************************************************************************************************/

/****************************************************************************************************************************
                                        Nav Media Query Styles
*****************************************************************************************************************************/

@media screen and (min-width: 1024px) {


    .menu-toggle {
        display: none;
    }

    .mainNav {
	background-color: transparent;
	height: 2.5em;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
	font-size: 1.2rem;

}

.mainNav a {
	text-decoration: none;
	color: #ffffff;
	padding: 1em;
}



/*.left { 
    display: inline;
    margin-right: auto;
}*/




    .about-section p {
        width: 60%;
    }

    .portfolio-content {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


@media screen and (min-width: 1200px) {

/*****************************************
		Social Media Styles
*****************************************/
	.fa-twitter:hover {
		color: #0099e5;
	}

	#twitter:hover {
		border: 2px solid #0099e5;
	}

	.fa-facebook:hover {
		color: #3b5998;
	}

	#facebook:hover {
		border: 2px solid #3b5998;
	}

     h1 {
        font-size: 5em;
    }

    h3 {
        font-size: 2em;
    }

    header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
     }

    .about-section {
        background: transparent;
    }

    .about-section p {
        width: 60%;
    }

    .portfolio-section h3 {
    color: #ffffff;
}

    .portfolio-content {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 75%;
    }

    .folio {
        width: 30%;
        height: 300px;
        margin: 1em;
    }


    .folio .info {
        width: 100%;
        height: 300px;
    }

    .folio img {
        max-width: 100%;
        height: 300px;
    }


    .social {
        border: 2px solid #ffffff;
    }

    .social i {
        color: #ffffff;
    }

    footer {
        color: #ffffff;
    }
}
